body{
    background-color: aquamarine;
    width:100vw;
    length:100%;
    margin: 0 auto;
}
img{
    text-align: center;
}
.navegacion{
    float: left;
    width: 200vh; /*vh signfica view Heigth, vw ver acnho*/
    height: 10vh;
    background-color: #282828;
}
.navegacion a{
    float: left;
    height: 100%;
    color:alicreblue;
    text-align: center;
    padding: 10px 5px;
    font-size: 25px;
    text-decoration: none;
    background-color:none;
}
.navegacion a:hover{
background-color: darkseagreen;
color:black;
border: solid rgb(130, 10, 151)5px;
border-radius: 10px;
}
.navegacion a.activo{
    blackground-color: darkseagreen;
    color:black;
}
fieldset{
    margin-bottom: 12px;
}
legend{
    background-color: #74b49b;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
}
h1{
   text-align: left;
}